/* Carousel Styling */
.partner-carousel .slick-track {
  display: flex !important;
  align-items: center !important;
}

.partner-carousel .slick-slide {
  height: auto;
}

.partner-carousel .slick-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide dots */
.partner-carousel .slick-dots {
  display: none !important;
}

/* Hide arrows */
.partner-carousel .slick-arrow {
  display: none !important;
}
