@import './carousel.css';

@font-face {
  font-family: 'Gilroy:ExtraBold';
  src: url('../fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy:Light';
  src: url('../fonts/Gilroy-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat:Bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat:SemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro_Text:Medium';
  src: local('SF Pro Text Medium'), local('.SFNSText-Medium'), local('HelveticaNeue-Medium'), local('Arial');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF_Pro_Text:Semibold';
  src: local('SF Pro Text Semibold'), local('.SFNSText-Semibold'), local('HelveticaNeue-Medium'), local('Arial');
  font-weight: normal;
  font-style: normal;
}
